@import url('http://fonts.cdnfonts.com/css/shrikhand');

@media (max-width : 768px) {
    *{
        padding: 0;
        margin: 0;
    }

    body{
        font-family: 'Roboto';
    }

    #Content_container{
        max-width: 768px;
    }

    /*Header*/
    h1{
        font-family: "Shrikhand";
    }

    header h1{
        text-align: center;
    }

    /* Formulaire des villes */
    .city_form{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(235,235,235);
        padding: 15px;
        box-shadow: inset 0px 11px 8px -10px rgba(0, 0, 0, 0.5);
        padding-left: 50px;
    }

    .city_form_input{
        background-color: rgba(235,235,235);
        outline: none;
        border: none;
        padding-left: 10px;
    }

    .city_form_input::placeholder{
        color: black;
        font-weight: bold;
    }

    /* Exploration */
    .explore_and_working_section{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .explore_article{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 25px;
        background-color: #f2f2f2;
    }

    h2{
        font-weight: bold;
    }

    .explore_article > * {
        margin: 10px;
    }

    .explore_article h2 {
        padding-right: 20px;
        padding-left: 20px;
    }

    .explore_article button {
        background: linear-gradient(160deg, rgba(237,115,218),  rgba(161,91,220));
        border: none;
        border-radius: 30px;
        padding: 15px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        margin-bottom: 40px;
        color: white;
    }

    /*Fonctionnement*/
    .working_article {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
        width: 100%;
    }

    .working_article h3{
        padding: 10px;
    }

    .working_article_list_items{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        padding: 20px;
        margin-left: 15px;
        width: 82%;
        background-color: #F2F2F2;
        border-radius: 15px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .working_article_list_item_icon{
        padding-right: 30px;
        padding-left: 20px;
        color: gray;
    }

    .working_article_list_item_text{
        font-weight: bold;
    }



    .working_article_list_item_number{
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        color: white;
        background-color: rgb(147, 86, 220);
        margin-left: -30px;
    }

    .working_article_list_items:last-child > .working_article_list_item_description{
        background-color: rgb(245, 237, 255);
    }

    .working_article_list_items:last-child .working_article_list_item_icon{
        color:  rgb(147, 86, 220);
    }

    /* Section restaurants */

    .restaurants_section h3{
        padding: 10px;
    }

    .restaurants_section{
        background-color: #F2F2F2;
        width: 100%;
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .restaurants_article_list{
        display: flex;
        flex-direction: column;
    }

    .restaurants_list_item{
        text-decoration: none;
        color: black;

    }
    .restaurants_list_item figure{
        background-color: white;
        border-radius: 15px;
        position: relative;
        display: block;
        margin: 10px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .restaurants_list_item_image{
        width: 100%;
        height:200px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .restaurants_list_item_badge{
        background-color: rgb(153, 226, 208);
        color: rgb(36, 156, 127);
        font-weight: bold;
        padding: 10px;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .restaurants_list_item_description{
       padding: 10px;
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       height: 50px;
    }

    .restaurants_list_item_description_heart{
        flex-grow: 1;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: right;

    }
    .restaurants_list_item_description_heart_1, .restaurants_list_item_description_heart_2{
        font-size: 25px;
    }
    
    .restaurants_list_item_description_heart_2{
        visibility: hidden;
    }

    /* footer */

    footer{
        padding: 20px;
        background-color: rgb(53, 53, 53);
    }

    footer h1{
        color: white;
        font-size: large;
        font-weight: normal;
    }

    .footer_list{
        list-style: none;
        padding-top: 10px;
    }

    .footer_list_item{
        padding-top: 10px;
    }

    .footer_list_item_link{
        text-decoration: none;
        color: white;
    }

    .footer_list_item_icon{
        width: 10px;
        height: 10px;
        padding-right: 15px;
    }

    






    
    




    


}