/* Style d'un boutton */
@mixin btn_style {
    background: linear-gradient(160deg, rgba(237,115,218),  rgba(161,91,220));
    border: none;
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 40px;
    color: white;
}

/* Centrage d'un item*/
@mixin centering_content{
    align-items: center;
    justify-content: center;    
}

/* Centrage du texte */
@mixin text_center {
    text-align: center;
}

/* Fonction permettant d'appliquer une couleur de fond */
@mixin set_background_color($color) {
    background-color: $color;
}

/* Fonction permettant d'afficher des ombres */
@mixin box_shadow{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Fonction pour mettre le contenu en colonne*/
@mixin column_parameter{
    flex-direction: column;
}

