
%flex_parameter{
    /* Classe muette permettant d'aligner le contenu */
    display: flex;
}


%menu_section_params{
    /* Classe muette permettant de passer en majuscule les titres des menus */
    text-transform: uppercase;
    font-size: 25px;
    padding-top: 50px;
    position: relative;
    color: $fifth_color;
    padding-bottom: 12px;
}

%menu_section_before_params{
    /* Classe muette permettant de souligner les titre des menus */
    content: "";
    position: absolute;
    width: 10%;
    height: 1px;
    bottom: 0;
    border-bottom: 5px solid $primary_badge_color;
}

%box_shadow{
    /* Classe muette permettant d'appliquer des ombres */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

%menu_params{
    /* Classe muette permettant d'appliquer les parametres standards des menus */
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}