$primary_color : #f2f2f2;
$secondary_color: darken($primary_color, 20%);
$basic_color: white;
$tertiary_color: rgb(147, 86, 220);
$primary_badge_color : rgb(153, 226, 208);
$secondary_badge_color: darken($primary_badge_color, 40%);
$title_police : "Shrikhand";
$text_police : 'Roboto';


@mixin btn_style {
    background: linear-gradient(160deg, rgba(237,115,218),  rgba(161,91,220));
    border: none;
    border-radius: 30px;
    padding: 15px;
    margin-bottom: 40px;
    color: white;
}

@mixin centering_content{
    align-items: center;
    justify-content: center;    
}

@mixin text_center {
    text-align: center;
}

@mixin set_background_color($color) {
    background-color: $color;
}

@mixin menu_section_params{
    text-transform: uppercase;
    padding-top: 10px;
    position: relative;
}

@mixin box_shadow{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

@mixin flex_parameter{
    display: flex;
}

@mixin column_parameter{
    flex-direction: column;
}

@mixin menu_section_before_params{
    content: "";
    position: absolute;
    width: 10%;
    height: 1px;
    bottom: 0;
    border-bottom: 2px solid $primary_badge_color;
}
