$primary_color : #f2f2f2;
$secondary_color: darken($primary_color, 20%);
$basic_color: white;
$tertiary_color: rgb(147, 86, 220);
$primary_badge_color : rgb(153, 226, 208);
$secondary_badge_color: darken($primary_badge_color, 40%);
$title_police : "Shrikhand";
$text_police : 'Roboto';

