footer{
    /* Layout du footer */
    width: auto;
    padding: 20px;
    background-color: rgb(53, 53, 53);
    h1{
        color: $basic_color;
        
        font-weight: normal;
        font-size: 20px;
    }

    .footer_list{
        list-style: none;
        padding-top: 10px;
        @extend %flex_parameter;
        justify-content: space-between;
        

        &_item{
            padding-top: 10px;

            &_link{
                font-size: 20px;
                text-decoration: none;
                color: white;
            }

            &_icon{
                width: 20px;
                height: 20px;
                padding-right: 15px;
            }
        }
    }

}

