
.loader {
  /*Layout du loader ( a refaire ) */
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: $primary_color;
    animation: loader 0.01s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loader__item {
    border: 16px solid $tertiary_color ;
    border-radius: 50%;
    border-top: 16px solid $tertiary_color ;
    border-right: 16px solid #FF79DA ;
    border-bottom: 16px solid rgb(245, 237, 255); 
    border-left: 16px solid $primary_badge_color; 
    width: 50px;
    height: 50px;
    -webkit-animation: spin 500ms linear infinite;
    animation: spin 500ms linear infinite;
  }
